.container {
  max-width: 52.5rem;
  width: 100%;

  margin: 0 auto;
}

header {
  span.category {
    display: block;
    margin-top: 2rem;

    font-size: 2.25rem;
    font-weight: 600;
    color: var(--gray);
  }

  span {
    color: var(--white);
  }
}

main {
  width: 100%;
  margin-top: 5.625rem;

  .movies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4.75rem;
    list-style: none;
  }
}

@media (max-width: 800px) {
  .container {
    padding-left: 2rem;
  }
  main .movies-list {
   
   grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 500px) {
  main .movies-list {
    grid-template-columns: 1fr;
   }
   header span.category {
     font-size: 1.9rem;
   }

   main {
     margin-top: 3.5rem;
   }
}